.PostSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.PostSection__alert-no-posts {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 40px;
    background-color: #004580;
    color: white;
    align-items: center;
    margin-bottom: 20px;
}

.PostSection__alert-no-posts p {
    margin: 0;
}

button.PostSection__loadmore {
    display: block;
    margin: 20px auto;
    background-color: #004580;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 10px 20px;
}