.NewPost {
    margin-left: 300px;
}

.NewPost__container {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

trix-toolbar .trix-button-row {
    justify-content: flex-start;
}

trix-toolbar .trix-button-group, trix-toolbar .trix-button-group button {
    border: none;
}

button.trix-button.trix-button--icon.trix-button--icon-redo, button.trix-button.trix-button--icon.trix-button--icon-undo, button.trix-button.trix-button--icon.trix-button--icon-attach, button.trix-button.trix-button--icon.trix-button--icon-increase-nesting-level, button.trix-button.trix-button--icon.trix-button--icon-decrease-nesting-level, button.trix-button.trix-button--icon.trix-button--icon-code, button.trix-button.trix-button--icon.trix-button--icon-quote, button.trix-button.trix-button--icon.trix-button--icon-heading-1 {
    display: none;
}

trix-toolbar .trix-button:not(:first-child) {
    border-left: none;
}

trix-editor:empty:not(:focus)::before {
    color: #004580;
}

trix-editor {
    border: none;
    border-top: 2px solid #004580;
    border-radius: 0px;
    height: 250px;
    overflow-y: scroll;
}

.editor {
    border: 2px solid #004580;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width:767px) {
    .NewPost {
        margin-left: 25px
    }
}

.NewPost__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.NewPost__actions div {
    flex: 0 1 calc(48% - 1rem);
}

.NewPost__actions div span {
    font-size: 8px;
}

.NewPost__actions div button {
    width: 100%;
    background-color: #004580;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
}
.NewPost__actions div button:disabled{
    opacity: .5;
    cursor: not-allowed;
}
.NewPost__actions input {
    flex: 0 1 calc(48% - 1rem);
    border: 2px solid #004580;
    padding: 10px;
    border-radius: 20px;
    color: #004580;
}

.NewPost__actions input::placeholder {
    color: #004580;
}

.NewPost__tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.NewPost__tags div {
    background-color: #004580;
    color: white;
    padding: 2px 4px;
    border-radius: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.NewPost__tags div i {
    margin-left: 5px;
}