.NewPost {
    margin-left: 300px
}

trix-toolbar .trix-button-row {
    justify-content: flex-start;
}

trix-toolbar .trix-button-group, trix-toolbar .trix-button-group button {
    border: none;
}

button.trix-button.trix-button--icon.trix-button--icon-redo, button.trix-button.trix-button--icon.trix-button--icon-undo, button.trix-button.trix-button--icon.trix-button--icon-attach, button.trix-button.trix-button--icon.trix-button--icon-increase-nesting-level, button.trix-button.trix-button--icon.trix-button--icon-decrease-nesting-level, button.trix-button.trix-button--icon.trix-button--icon-code, button.trix-button.trix-button--icon.trix-button--icon-quote, button.trix-button.trix-button--icon.trix-button--icon-heading-1 {
    display: none;
}

trix-toolbar .trix-button:not(:first-child) {
    border-left: none;
}

trix-editor:empty:not(:focus)::before {
    color: #004580;
}

trix-editor {
    border: none;
    border-top: 2px solid #004580;
    border-radius: 0px;
}

.editor {
    border: 2px solid #004580;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width:767px) {
    .NewPost {
        margin-left: 25px
    }
}