.Profile {
    margin-top: 80px;
    color: #004580;
}

.Profile img.rounded-circle {
    border: 5px solid #004580;
}

.Profile__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #004580;
}

.Profile__name {
    font-weight: bold;
    font-size: 30px;
    color: #004580;
}

.Profile__info {
    margin-bottom: 0;
    color: #004580;
}

.editImage {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.editImage i {
    margin-right: 5px;
}

.Profile__data-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.Profile__data-row div {
    flex: 0 1 calc(47% - 1rem);
    overflow: hidden;
    overflow-wrap: break-word;
}

.Profile__data-row div:first-of-type {
    margin-right: 20px;
}

.Profile__data-row p, .Profile__data-row h6 {
    margin-bottom: 0;
}

.Profile__data-row h6 {
    text-align: right;
    font-weight: 400;
}

.Profile__data-row p {
    text-align: left;
    font-weight: bold;
}

.Profile__data-row-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.Profile__data-row-button div {
    flex: 0 1 calc(47% - 1rem);
}

.Profile__data-row-button div:first-of-type {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.Profile__data-row-button button {
    background-color: #004580;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}

.Profile__data-row-button button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.Profile__data-row-button button i {
    margin-right: 5px;
}

.Profile__data-button {
    background-color: #004580;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
}

.Profile__data-button i {
    margin-right: 5px;
}

.Profile__data-input {
    border: 2px solid #004580;
    padding: 5px;
    border-radius: 20px;
    width: 70%;
    color: #004580;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .Profile__data-input {
        width: 100%;
    }
}

.Profile .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.Profile .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.Profile .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.Profile .mb-3, .Profile .my-3 {
    margin-bottom: 1rem!important;
}