.Sugerencias {
    margin: 0 auto;
    width: 90%;
}

.Sugerencias h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #004580;
    font-weight: bold;
}

.Sugerencias p {
    color: #004580;
}

.Sugerencias form {
    margin-bottom: 10px;
}

.Sugerencias__input {
    border: 2px solid #004580;
    padding: 10px;
    border-radius: 40px;
    width: 50%;
}

.Sugerencias__input::placeholder {
    color: #004580;
}

.Sugerencias__textarea::placeholder {
    color: #004580;
}

.Sugerencias__textarea {
    border: 2px solid #004580;
    padding: 10px;
    resize: none;
    border-radius: 20px;
    width: 70%;
    height: 150px;
}

.Sugerencias__button {
    background-color: #004580;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
}

.Sugerencias__button i {
    margin-right: 5px;
}

.Sugerencia {
    border: 2px solid #004580;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #004580;
    width: 70%;
}

.Sugerencias__enviadas {
    margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
    .Sugerencias__input {
        width: 100%;
    }
    .Sugerencias__textarea {
        width: 100%;
    }
    .Sugerencia {
        width: 100%;
    }
}