.Sugerencias {
    margin: 0 auto;
    width: 90%;
}

.Sugerencias form {
    padding: 20px;
    margin-bottom: 10px;
}

.Sugerencias__input {
    border: 2px solid #004580;
    padding: 10px;
    border-radius: 40px;
    width: 50%;
}

.Sugerencias__textarea {
    border: 2px solid #004580;
    padding: 10px;
    resize: none;
    border-radius: 20px;
    width: 70%;
    height: 150px;
}

.Sugerencias__button {
    background-color: #004580;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
}

.Sugerencia {
    border: 2px solid #004580;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #004580;
    width: 70%;
}

.Sugerencias__enviadas {
    height: 500px;
    overflow-y: scroll;
}

.Sugerencias__enviadas::-webkit-scrollbar {
    display: none;
}