.carousel {
    margin: 48px auto 0px;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}
.carousel-caption h3{
    font-size: 40px;
    font-weight: 800;
}
a.Carousel-btn {
    background-color: #004580;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}

@media screen and (min-width:576px) {
    .carousel-item {
        height: 400px;
    }
}
@media screen and (min-width:767px) {
    .carousel {
        margin-top: 65px;
    }
}