.Footer {
    width: 100%;
    position: relative;
    bottom: 0;
    color: white;
    background-color: #004580;
}
.Footer__content {
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Footer__content-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}
.Footer__content-top-section {
    flex: 0 1 calc(50% - 1rem);
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Footer__content-top-section ul {
    list-style: none;
    padding-left: 0;
}
.Footer__content-top-section a{
    color: white;
    text-decoration: none;
}
.Footer__content-top-section-cropped-img {
    height: 80px;
    width: 160px;
    margin-bottom: 10px;
}
.Footer__logo {
    width: 100%;
    height: 100%;
    position: relative;
    left: -20px;
}
.Footer__content-bottom {
    width: 100%;
}
.Footer__content-bottom p {
    margin: 0;
    font-size: 12px;
}
.Footer__isotipo {
    display: block;
    position: absolute;
    right: 0px;
    height: 50%;
    top: 124px;
}
@media screen and (min-width:576px) {
    .Footer__content {
        width: 80%;
    }
    .Footer__content-top {
        flex-direction: row;
    }
    .Footer__content-top-section {
        align-items: flex-start;
    }
    .Footer__logo {
        left: -20px;
    }
    .Footer__isotipo {
        display: block;
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
    }
}