.ModalPost {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.ModalPost__content {
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    height: 500px;
    overflow-y: scroll;
    border-radius: 6px;
    overflow-x: hidden;
}

.ModalPost__content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

.ModalPost__content::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 6px;
}

.ModalPost__content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.ModalPost__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ModalPost__tag {
    padding: 8px;
    font-size: 8px;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    background-color: gray;
}

.ModalPost__center {
    background-color: teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -4px;
    padding: 10px;
    color: white;
}

.ModalPost__center i {
    margin: 10px;
}

.ModalPost__form-control {
    display: flex;
    flex-direction: column;
}

.ModalPost__submit {
    align-self: flex-end;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
}

.ModalPost__comment {
    border: 1px solid gray;
    padding: 10px;
    height: auto;
    margin: 5px 0;
    border-radius: 10px;
}

.ModalPost__comment-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ModalPost__comment-img {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.ModalPost__comments {
    display: flex;
    flex-direction: column;
}

.comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-top: 10px;
}
.add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
}
.commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
}
.add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}
.add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
}
.add-comment button {
    background-color: #f5f5f5;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}
.commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}
.comment-txt {
    font-size: 15px;
}
.commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}

@media (max-width: 767px) {
    .comments .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .comments .commenter-name a {
        display: block;
    }
    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
}