.fade.ModalPost.modal.show {
    padding-left: 0;
}

.ModalPost .modal-content {
    border-radius: 20px;
}

.ModalPost__header-img {
    width: 100%;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ModalPost .modal-header {
    padding: 0px 0px;
    height: 200px;
    border-bottom: none;
    overflow: hidden;
}

.ModalPost__header-content {
    position: absolute;
    color: white;
    width: 100%;
    height: 200px;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.7) 50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
}

.ModalPost-header-top {
    flex: 70;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ModalPost__header-content h4 {
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width:576px) {
    .ModalPost__header-content h4 {
        font-size: 26px;
    }
}

.ModalPost button.close {
    position: absolute;
    color: white;
    right: 2%;
    background: #004580;
    margin: 10px;
    padding: 2px 8px;
    border-radius: 40px;
    opacity: 1;
}

.ModalPost__header-actions {
    display: flex;
    flex-wrap: wrap;
}

.ModalPost__header-actions i {
    margin: 0 10px;
}

.ModalPost__header-actions-tag {
    margin: 0 5px;
}

.ModalPost__content {
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-x: hidden;
}

.ModalPost__content.modal-body {
    padding: 10px 30px;
}

.ModalPost__content-text {
    color: #004580;
    font-weight: 500;
}

.ModalPost__content-comments-label {
    color: #004580;
    font-weight: 500;
}

.comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 3px solid #004580;
    padding-left: 10px;
    padding-top: 10px;
}

.add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
}

.commenter-pic {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #004580;
    overflow: hidden;
}

.ModalPost__content-input {
    border: 3px solid #004580;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.ModalPost__content-input::placeholder {
    color: #004580;
}

.ModalPost__content-button {
    background-color: #004580;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 40px;
    float: right;
}

.ModalPost__content-button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}

.comment-txt {
    font-size: 15px;
    color: #004580;
}

.commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #004580;
}

.ModalPost__content-comments-no-comment {
    color: #004580;
}

.ModalPost__back-button {
    border: none;
    background-color: #004580;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 auto;
}

.ModalPost__back-button i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .comments .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .comments .commenter-name a {
        display: block;
    }
    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .comments .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .comments .commenter-name a {
        display: block;
    }
    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
}