.fade.ModalPost.modal.show {
    padding-left: 0;
}

.ModalPost .modal-content {
    border-radius: 20px;
}

.ModalPost__header-img {
    width: 100%;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ModalPost .modal-header {
    padding: 0px 0px;
    height: 300px;
    border-bottom: none;
    overflow: hidden;
}

.ModalPost__header-content {
    position: absolute;
    color: white;
    padding-left: 20px;
    padding-top: 10%;
}

.ModalPost button.close {
    position: absolute;
    color: white;
    right: 2%;
    background: #004580;
    margin: 10px;
    padding: 0px 7px 5px;
    border-radius: 40px;
    opacity: 1;
}

.ModalPost__header-actions {
    display: flex;
    flex-wrap: wrap;
}

.ModalPost__header-actions i {
    margin: 0 10px;
}

.ModalPost__header-actions-tag {
    margin: 0 5px;
}

.ModalPost__content {
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-x: hidden;
}

.ModalPost__content-text {
    color: #004580;
    font-weight: 500;
}

.ModalPost__content-comments-label {
    color: #004580;
    font-weight: 500;
}

.comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 3px solid #004580;
    padding-left: 10px;
    padding-top: 10px;
}

.add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
}

.commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}

.ModalPost__content-input {
    border: 3px solid #004580;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.ModalPost__content-input::placeholder {
    color: #004580;
}

.ModalPost__content-button {
    background-color: #004580;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 40px;
    float: right;
}

.commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}

.comment-txt {
    font-size: 15px;
    color: #004580;
}

.commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #004580;
}

.ModalPost__content-comments-no-comment {
    color: #004580;
}

@media (max-width: 767px) {
    .comments .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .comments .commenter-name a {
        display: block;
    }
    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .comments .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .comments .commenter-name a {
        display: block;
    }
    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
}