.Options {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.Option {
    flex: 0 1 calc(90% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 68, 126);
    background: linear-gradient(180deg, rgba(0, 68, 126, 1) 40%, rgba(0, 27, 51, 1) 100%);
    margin-bottom: 2.5%;
    color: white;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
    height: 150px;
    padding: 20px;
}

.Option i {
    font-size: 50px;
    margin-right: 10px;
}

@media screen and (min-width:767px) {
    .Option {
        flex: 0 1 calc(49% - 1rem);
    }
}