.Post {
    margin-bottom: 10px;
    position: relative;
    color: white;
    border-radius: 20px;
    height: 400px;
    margin-bottom: 3%;
    flex: 0 1 calc(100% - 1rem);
}

.Post__image {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    object-fit: cover;
}

.liked {
    color: white;
}

.Post__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 30px;
    font-size: 12px;
    justify-content: space-around;
    border-bottom: 2px solid white;
}

.Post__content {
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 20px;
}

.Post__content-bottom h5 {
    font-size: 28px;
    font-weight: bold;
}

.Post__content-content {
    overflow-wrap: break-word;
}

.Post__content-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.Post__content-actions span {
    display: flex;
    flex-wrap: wrap;
}

.Post__content-actions i {
    margin: 0 10px;
}

.Post__content-tag {
    margin: 0px 10px;
    color: white;
    font-weight: 500;
}

a.Post__see-more {
    background-color: white;
    border-radius: 40px;
    color: #004580;
    padding: 5px 16px;
    display: inline-block;
}

@media screen and (min-width:767px) {
    .Post {
        flex: 0 1 calc(49% - 1rem);
    }
}