
.comedor-user-form > div{
    width: 80vw;
    color: #004580;
    font-size: 20px;
}

.comedor-user-form > div >label{
    width:  200px;
    max-width: 100%;
    padding: 5px !important;
    text-align: left;
}

.comedor-user-form > div > input, 
.comedor-user-form > div > select{
    width:  350px;
    max-width: 100%;
    border: 1px #004580 solid;
    color: #004580;
    border-radius: 13px;
    padding: 5px;
    font-size: 20px;
}



.tabla-mis-reservas > tr >td , 
.tabla-mis-reservas > tr >th 
{
    padding: 5px;
    color: #004580;
}