body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.profile-image-small {
  width: 40px;
  border-radius: 50px;
}

.no-image-profile-small {
  background-color: #004580;
  color: white;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 27px;
}

.no-image-profile-medium {
  background-color: #004580;
  color: white;
  padding: 35px 40px;
  font-size: 70px;
  border-radius: 99px;
}

.profile-image-medium {
  border: 5px solid #004580;
}

.Whatsapp img {
  width: 50px;
  position: fixed;
  left: 20px;
  z-index: 1;
  bottom: 20px;
}